
.icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: white;
}

*,
*::before,
*::after {
  box-shadow: inherit;
  margin: 0;
  padding: 0;
  transition: 300ms;
}

html {
  box-sizing: border-box;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 80%;
  }
}

body {
  font-family: 'Poppins',sans-serif;
  background: #1B1B2F;
  color: white;
}

button {
  border: none;
  background: none;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

input {
  font-size: inherit;
  font-family: inherit;
  border: none;
}
