.collection{
    .container{
        padding: 2rem 0 3rem 0;
         display: grid;
         grid-template-columns: repeat(auto-fit,minmax(12rem,1fr));
         gap: 2rem 1rem;
         justify-items: center;
     }

}