@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
.container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.text-center {
  text-align: center;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: white;
}

*,
*::before,
*::after {
  box-shadow: inherit;
  margin: 0;
  padding: 0;
  transition: 300ms;
}

html {
  box-sizing: border-box;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 80%;
  }
}

body {
  font-family: 'Poppins',sans-serif;
  background: #1B1B2F;
  color: white;
}

button {
  border: none;
  background: none;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

input {
  font-size: inherit;
  font-family: inherit;
  border: none;
}

.header {
  min-height: 100vh;
  position: relative;
}

.header::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(27, 27, 47, 0.4), rgba(27, 27, 47, 0.7), #1b1b2f);
  z-index: -3;
}

.nav {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 200000;
}

@media only screen and (max-width: 600px) {
  .nav {
    position: relative !important;
  }
}

.nav .container {
  display: flex;
  height: 10vh;
  align-items: center;
  padding: 1rem 0;
}

.nav__logoLink {
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
  .nav__logo {
    width: 12rem;
  }
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .nav__list {
    display: none;
  }
}

.nav__menu {
  display: none;
}

@media only screen and (max-width: 800px) {
  .nav__menu {
    display: inline-block;
  }
  .nav__menu:hover .icon {
    fill: #E43F5A;
  }
}

.nav__item {
  margin: 0 1rem;
}

.nav__link:hover {
  color: #E43F5A;
}

.nav__avatar {
  width: 2.5rem;
  height: 2.5rem;
}

a.active {
  color: #E43F5A;
}

.footer {
  background: #24243f;
  padding: 2rem 0;
}

.footer .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

@media only screen and (max-width: 600px) {
  .footer .container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
    text-align: center;
  }
  .footer .container > * {
    margin-bottom: 1rem;
  }
}

.footer__logoLink {
  display: grid;
  gap: 0.4rem;
}

.footer__dbLogo {
  width: 5rem;
}

.footer__socialLink:hover svg {
  fill: #E43F5A;
}

.footer__socialIcon {
  width: 2.5rem;
  height: 2.5rem;
}

@media only screen and (max-width: 600px) {
  .footer__note {
    grid-column: span 2;
    order: 3;
  }
}

.footer__author {
  animation: blink 1s infinite alternate;
}

@keyframes blink {
  from {
    color: white;
  }
  to {
    color: #E43F5A;
  }
}

.btn {
  font-size: 1.1rem;
  color: white;
  background-color: #E43F5A;
  padding: 0.5em 1.5em;
  justify-content: space-evenly;
  border-radius: 2rem;
}

.btn:hover {
  background-color: #d21e3b;
  box-shadow: 0 0 1.5rem rgba(228, 63, 90, 0.8);
  transform: translateY(-5px);
}

.search {
  position: relative;
}

@media only screen and (max-width: 800px) {
  .search {
    display: none;
  }
}

.search__input {
  border: 1px white solid;
  background: rgba(27, 27, 47, 0.5);
  border-radius: 2rem;
  padding: 0.5rem 1rem 0.5rem 3rem;
  color: white;
  outline: none;
}

.search__input:focus, .search__input:active {
  border-color: #E43F5A;
}

.search__input:focus + .search__icon,
.search__input:active + .search__icon {
  fill: #E43F5A;
}

.search__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
}

.featured {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 600px) {
  .featured {
    justify-content: center;
    min-height: 80vh;
  }
}

.featured__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -4;
  object-fit: cover;
}

.featured__genres {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media only screen and (max-width: 600px) {
  .featured__title {
    text-align: center;
    margin: 0.5rem 0;
  }
}

.featured .container {
  display: flex;
  align-items: center;
  padding-bottom: 3rem;
}

@media only screen and (max-width: 600px) {
  .featured .container {
    flex-direction: column;
    justify-content: center;
  }
}

.featured__content {
  flex: 1;
}

.featured__desc {
  width: 80%;
}

@media only screen and (max-width: 600px) {
  .featured__desc {
    width: 100%;
  }
}

.featured__btn {
  display: inline-flex;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .featured__btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .featured__btn:hover {
    transform: translateX(-50%) translateY(-5px);
  }
}

.featured__cover {
  margin-left: 3rem;
}

@media only screen and (max-width: 600px) {
  .featured__cover {
    order: -1;
    margin-left: 0;
  }
}

.movie-card {
  overflow: hidden;
  border-radius: 1rem;
}

.movie-card:hover .movie-card__content {
  transform: translateY(0);
  opacity: 1;
}

.movie-card:hover .movie-card__poster {
  filter: brightness(50%);
}

.movie-card__poster {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.movie-card__content {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  align-content: center;
  gap: 1rem;
  transition: 500ms ease-in-out;
  transform: translateY(1rem);
  opacity: 0;
}

.movie-card__rating {
  display: flex;
  align-items: center;
}

.movie-card__star {
  margin-right: 10px;
  fill: #E43F5A;
}

.slider {
  padding: 1.5rem 0;
  position: relative;
}

.slider__btn {
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.slider__btn:hover .icon {
  fill: #E43F5A;
}

.slider__prev {
  left: 1.5rem;
}

.slider__next {
  right: 1.5rem;
}

.slider:hover .slider__btn {
  opacity: 1;
}

.slider .container {
  position: relative;
  overflow: hidden;
}

.slider__body {
  height: 20rem;
}

.genrePill {
  width: max-content;
  padding: 0.3em 0.6em;
  margin: 0.5em;
  margin-left: 0;
  background-color: #E43F5A;
  text-align: center;
  border-radius: 1rem;
  cursor: pointer;
}

.genrePill:hover {
  background-color: #d21e3b;
}

.pagination .container {
  padding: 1rem 0 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trailer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(27, 27, 47, 0.7);
  display: grid;
  place-items: center;
}

.trailer__container {
  width: 80%;
  height: 60vh;
  border-radius: 1rem;
}

.trailer__video {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.trailer__btn {
  position: absolute;
  top: 0;
  right: 0;
}

.mobileNav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background-color: #1B1B2F;
  z-index: 1000;
}

@media only screen and (max-width: 600px) {
  .mobileNav {
    height: 40vh;
  }
}

.mobileNav__link:hover {
  color: #E43F5A;
}

@media only screen and (max-width: 800px) {
  .mobileNav {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(-100%);
    transition: 500ms;
    opacity: 0;
  }
  .mobileNav > *:not(:last-child) {
    margin-bottom: 1rem;
  }
  .mobileNav .search {
    display: block;
  }
  .mobileNav .search .search__input {
    width: 15rem;
    font-size: inherit;
  }
  .mobileNav__btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  .mobileNav__btn:hover .icon {
    fill: #E43F5A;
  }
  .mobileNav__logo {
    width: 12rem;
  }
}

.movieProfile {
  position: relative;
}

.movieProfile .container {
  min-height: 100vh;
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 2rem;
  align-items: center;
  padding-bottom: 2rem;
}

@media only screen and (max-width: 800px) {
  .movieProfile .container {
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: center;
  }
}

.movieProfile__backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  filter: brightness(30%) hue-rotate(5deg);
  z-index: 1;
}

.movieProfile__content {
  display: grid;
  gap: 1rem;
  justify-items: start;
}

@media only screen and (max-width: 800px) {
  .movieProfile__content {
    text-align: center;
    justify-items: center;
  }
}

.movieProfile__genres {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.movieProfile__genres > * {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.movieProfile__stats {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .movieProfile__stats {
    flex-direction: column;
    align-items: center;
  }
}

.movieProfile__stat {
  display: flex;
  align-items: center;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .movieProfile__stat {
    margin-bottom: 1rem;
  }
}

.movieProfile__stat .icon {
  fill: #E43F5A;
}

.movieProfile__stat span {
  margin-left: 10px;
  font-weight: normal;
}

.movieProfile__btn {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .movieProfile__poster {
    transform: scale(0.7);
  }
}

@media only screen and (max-width: 400px) {
  .movieProfile__poster {
    transform: scale(0.8);
  }
}

@media only screen and (max-width: 800px) {
  .movieComp .nav {
    position: relative !important;
  }
}

.castCard {
  height: 16rem;
  width: 100%;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.castCard:hover .castCard__content {
  opacity: 1;
}

.castCard__img, .castCard__placeholder {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 1rem;
  object-fit: cover;
}

.castCard__placeholder {
  display: grid;
  place-items: center;
  text-align: center;
  background-color: #1F4068;
}

.castCard__content {
  opacity: 0;
  background: rgba(27, 27, 47, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.recommendations {
  padding: 4rem 0;
}

.recommendations .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 1rem;
}

.castList {
  padding-top: 4rem;
}

.castList .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 1rem;
}

.collection .container {
  padding: 2rem 0 3rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 2rem 1rem;
  justify-items: center;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1B1B2F;
  width: 100%;
  height: 100vh;
  display: grid;
  z-index: 100;
  place-items: center;
  align-content: center;
  gap: 0.5rem;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #E43F5A;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #E43F5A transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.showNav {
  opacity: 1;
  transform: translateX(0) !important;
}
