.featured{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
 
    @include query(cp){
        justify-content: center;
        min-height: 80vh;
    }

    &__backdrop{
        position: absolute;
        top: 0;
        left:0;
        width: 100%;
        height: 100%;
        display: block;
        z-index: -4;
        object-fit: cover;
    }

    &__genres{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    &__title{
        @include query(cp){
            text-align: center;
            margin: 0.5rem 0;
        }
    }


    .container{
        display: flex;
        align-items: center;
        padding-bottom: 3rem;

        @include query(cp){
            flex-direction: column;
            justify-content: center;
        }
    }

    &__content{
        flex: 1;
    }

    &__desc{
        width: 80%;
        @include query(cp){
            width: 100%;
            // height: 5rem;
            // overflow-y: scroll;
        }
    }

    &__btn{
        display: inline-flex;
        align-items: center;
        @include query(cp){
            position: relative;
            left: 50%;
            transform: translateX(-50%);

            &:hover{
                transform: translateX(-50%) translateY(-5px);

            }
        }

    }

    &__cover{
        margin-left: 3rem;

        @include query(cp){
            order:-1;
            margin-left: 0;
        }

    }
}