.movieProfile{
    position: relative;
    .container{
        min-height: 100vh;
        position: relative;
        z-index: 2;
        display: grid;
        grid-template-columns: max-content 1fr;
        gap: 2rem;
        align-items: center;
        padding-bottom: 2rem;

        @include query(tabp){
            grid-template-columns: 1fr;
            justify-items: center;
            align-content: center;
        }
    }

    &__backdrop{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        filter: brightness(25%) hue-rotate(5deg);
        z-index: 1;
    }

    &__content{
        display: grid;
        gap:1rem;
        justify-items: start;

        @include query(tabp){
            text-align: center;
            justify-items: center;
        }
    }

    &__genres{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        & > * {
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
        }
    }

    &__stats{
        width: 100%;
        display: flex;
        justify-content: space-between;
        @include query(cp){
            flex-direction: column;
            align-items:center;
        }
    }

    &__stat{
        display: flex;
        align-items: center;
        font-weight: bold;
        @include query(cp){
            margin-bottom: 1rem;
        }

        .icon{
            fill:$main-color;
        }

        span{
            margin-left: 10px;
            font-weight: normal;
        }
    }

    &__btn{
        display: flex;
        align-items: center;
    }
    
    &__poster{
        @include query(cp){
            transform: scale(0.7);
        }
        @include query(scp){
            transform: scale(0.8);
        }
    }

}

.movieComp .nav{
    @include query(tabp){
        position: relative !important;
    }
}