.movie-card{
    overflow: hidden;
    border-radius: 1rem;

    &:hover .movie-card__content{
        transform: translateY(0);
        opacity: 1;
    } 

    &:hover .movie-card__poster{
        filter: brightness(50%);
    }


    &__poster{
        display: block;
        width:100%;
        height:100%;
        border-radius: 1rem;
    }

    &__content{
        text-align: center;
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        align-content: center;
        gap: 1rem;
        transition: 500ms ease-in-out;
        transform: translateY(1rem);
        opacity: 0;
    }

    &__rating{
        display: flex;
        align-items: center;
    }

    &__star{
        margin-right: 10px;
        fill: $main-color;
    }
}