.pagination{
    .container{
        padding: 1rem 0 2rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__btn{
        display: flex;
        justify-content: center;
        align-items: center;
    }


   
}