.search{
    position: relative;

    @include query(tabp){
        display:none;
    }

    &__field{
        position: relative;
    }

    &__input{
        border: 1px white solid;
        background: rgba($main-dark,0.5);
        border-radius: 2rem;
        padding: 0.5rem 1rem 0.5rem 3rem;
        color: white;
        outline: none;

        &:focus,
        &:active{
            border-color: $main-color;
        }
        
        &:focus  + .search__icon,
        &:active + .search__icon{
            fill: $main-color;
        }
    }

    &__icon{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 1rem;
    }

    &__results{
        position: absolute;
        top:100%;
        left: 0;
        width: 100%;
        height: max-content;
        display: grid;

        @include query(tabp){
            display: none !important;
        }
    }

    &__loader{
        position: absolute !important;
        transform:scale(0.25);
        right: -1rem;
        top:-1rem;

        @include query(tabp){
            display: none !important;
        }
    }

}