.slider{
    padding:1.5rem 0;
    position: relative;
    &__btn{
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        &:hover .icon{
            fill:$main-color;
        }

        @include query(cp){
            opacity: 1;
            transform: scale(1.4) translateY(-50%);
        }
    }

    &__prev{
        left: 1.5rem;
    }

    &__next{
        right: 1.5rem;
    }


    &:hover .slider__btn{
        opacity: 1;
    }

    .container{
        position: relative;
        overflow: hidden;
    }
    
    &__body{
        height: 20rem;
    }

}