.trailer{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background: rgba($main-dark,0.7);
    display: grid;
    place-items: center;

    opacity:0;
    pointer-events:none;
    z-index: 999999;
    &__container{
        width: 80%;
        height: 80vh;
        border-radius: 1rem;
    }

    &__video{
        width: 100%;
        height: 100%;
        border-radius: 1rem;
    }

    &__btn{

        .icon{
            width:2.5rem;
            height: 2.5rem;
        }

        position: absolute;
        top: 2rem;
        right: 2rem;
    }
}