.header{
    min-height: 100vh;
    position: relative;

    &::before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(to bottom,rgba($main-dark,0.4),rgba($main-dark,0.7),rgba($main-dark,1));
        z-index: -3;
    }
}